* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: white;
}

/* Utility Classes */
.container {
  width: 80%;
  margin: auto;
  background: white;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.mt-2 {
  margin-top: 20px;
}

.button-margin {
  margin: 20px !important;
}

/* Other styles */
.App-header {
  background: white;
  width: 80%;
  height: 300px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.align-query-tool {
  align-self: center;
}

#signInButton, #signOutButton {
  margin:auto;
  display:block;
  background: #4285F4;
  color: #FFFFFF;
}

#main_logo {
  width: 100%;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}