* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: white;
}

/* Utility Classes */
.container {
  width: 80%;
  margin: auto;
  height: 100px;
  background: white;
}

/* Other styles */
.App-header {
  background: #f4f4f4;
}

.navbar {
  background: #f4f4f4;
  display: flex;
  align-items: center;
  height: 100px;
}

.logo {
  
}