* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: white;
}

/* Utility Classes */
.container {
  width: 80%;
  margin: auto;
  height: 100px;
  background: white;
}

/* Other styles */
.App-header {
  background: #f4f4f4;
}

.test {
  /* background: blue; */
}

#signInButton {
  margin:auto;
  display:block;
  background: #4285F4;
  color: #FFFFFF;
}

#main_logo {
  width: 20%;
  height: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}